##Cancatenation Problem

In [1]:
x = input("enter value");  #string value 
y = 50; #int value 
z = x + y; #cancatenation
print(z)

enter value20

TypeError: can only concatenate str (not "int") to str

In [2]:
x = int(input("enter value"));
y = 50;
z = x + y;
print(z)

enter value30
80

## checking assigning operator == , !=

In [3]:
a= 20;
b=50;
c = 60;
d= 60;

if b-a != c-d:
    print(True);
else:
    print(False);

True

In [4]:
age = input("enter age"); #str
gender = input("gender ");  #int

if age > 30 and gender  == "male":
    print("login please ");
else:
    print ("Sorry yOu cant ");

enter age40
gender male

TypeError: '>' not supported between instances of 'str' and 'int'

In [5]:
age = int(input("enter age")); 
gender = str (input("gender "));  

if age >= 30 and gender  == "male":
    print("login please ");
else:
    print ("Sorry yOu cant ");

enter age40
gender male
login please

In [ ]:
age = int(input("enter age")); 
gender = input("gender "); 
grade = input("gender ");

if age >= 30 and gender  == "male" and grade == "a":
    print("login please ");
else:
    print ("Sorry yOu cant ");

## OR and ADN condition

In [ ]:
age = int(input("enter age")); 
gender = input("gender "); 
grade = input("gender ");

if age >= 30 and gender  == "male" or grade == "a":
    print("login please ");
else:
    print ("Sorry yOu cant ");

In [2]:
age = int(input("enter age")); 
gender = input("gender "); 
grade = input("gender ");

#if (age >= 30 or gender  == "male") or grade == "a":
if (age >= 30 or gender  == "male") and grade == "a":

    print(True);
else:
    print (False);

enter age40
gender female
gender a
True

In [3]:
#comments

In [4]:
#single line comment using #.
#multi line comments through """"""

In [6]:
#this is single line comment

"""hello
world"""

'hello\nworld'

In [9]:
#hello world
#dear stduents """

##LIST AND ARRAY

In [11]:
arr =[10,20];
print(arr)

[10, 20]

In [19]:
name1 ="ALi";
name2="ahmad";
name3="sara";
print("name 1 ="+ name1 +", name2 = "+ name2 +", name3 = " + name3);

name 1 =ALi, name2 = ahmad, name3 = sara

In [57]:
name = ["ali","ahmad", "sara"];
print(name[1]) #accessing through index[0],[1],[2]

ahmad

##adding to list

In [25]:
name = ["ali","ahmad", "sara"];
print(name)
name[1]="haroon"
print(name)

['ali', 'ahmad', 'sara']
['ali', 'haroon', 'sara']

In [28]:
name = ["ali","ahmad", "sara"];
name.append("khalid") ## append add up value to the end
print(name)

['ali', 'ahmad', 'sara', 'khalid']

In [33]:
newList = ["ali","ahmad", "adil"];
arr =["sara","gul","aimen"]
newArr=[1,2,3,4]
print(newList);
print(arr);
print(newList + arr ); #list canatenation
print(arr + newArr); #string and no both into one list

['ali', 'ahmad', 'adil']
['sara', 'gul', 'aimen']
['ali', 'ahmad', 'adil', 'sara', 'gul', 'aimen']
['sara', 'gul', 'aimen', 1, 2, 3, 4]

# #insertion into list

In [35]:
list1=["ali","ahmad", "adil"];
list1.insert(1,"raza");
list1

['ali', 'raza', 'ahmad', 'adil']

In [37]:
list1.pop(0)

'ali'

In [38]:
list1

['raza', 'ahmad', 'adil']

## list.insert(2,"name")
## list.pop(3)
##list.append("ahmad")

#sliciing

In [50]:
uniList=['ali', 'ahmad', 'adil', 'sara', 'gul', 'aimen']
uniList[2:5] #slice from 2 index to 5

['adil', 'sara', 'gul']

In [56]:
print(uniList[3:])
print(uniList[2:4])
uniList[:3]

['sara', 'gul', 'aimen']
['adil', 'sara']

['ali', 'ahmad', 'adil']

In [82]:
ist =['ali', 'ahmad', 'adil', 'sara', 'gul', 'aimen']
print(ist)

['ali', 'ahmad', 'adil', 'sara', 'gul', 'aimen']

In [83]:
ist.pop()

'aimen'

In [84]:
ist

['ali', 'ahmad', 'adil', 'sara', 'gul']

In [86]:
print(ist);
ist.append("aimen");
print(ist);

['ali', 'ahmad', 'adil', 'sara', 'gul']
['ali', 'ahmad', 'adil', 'sara', 'gul', 'aimen']

##HOW TO REMOVE VALUE FROM LIST

In [102]:
arr1=['ali', 'ahmad', 'adil', 'sara', 'gul', 'aimen'];
arr1.pop();
print(arr1)

['ali', 'ahmad', 'adil', 'sara', 'gul']

In [103]:
#Remove through Index
arr1.remove('adil'); 
print(arr1);

['ali', 'ahmad', 'sara', 'gul']

In [ ]:
x=1;
if x=1:
    print(x)